@import '@gitlab/ui/src/scss/gitlab_ui';
@import '@gitlab/ui/src/scss/utilities';

/*
* Components' styles
*/
.header {
  a {
    color: $theme-indigo-200;

    &:hover {
      @include gl-rounded-base;
      @include gl-text-white;
      background-color: rgba($theme-indigo-200, 0.2);
    }
  }
}

.contact-form {
  width: 400px;
}

