<script>
import GlForm from "./components/form.vue";
import GlHeader from "./components/header.vue";
import { getRequestTypes } from "./api";

export default {
  name: "App",
  components: {
    GlHeader,
    GlForm,
  },
  data() {
    return {
      requests: null,
    };
  },
  async mounted() {
    this.requests = await getRequestTypes();
  },
};
</script>

<template>
  <div id="app">
    <gl-header />

    <gl-form :requests="requests" />
  </div>
</template>
